@media all and (max-width:1024px) {
    /* common */
    .con {max-width: 80%;}
    /* header */
    .top_menu ul li a {font-size:1.4rem;}

    /* section_01 */

    /* section_02 */
    #section_2 .cont_1 .sub_txt {font-size:2.1rem;}
    #section_2 .cont_1 .sub_tit {margin-bottom: 3rem; font-size:3.2rem;}
    #section_2::after {height:30rem;}

    /* section_03 */
    #section_3::after {height: 30rem;}
    #section_3 .extraction_list ul li {flex-basis:18%;}
    #section_3 .extraction_list ul li > div {padding-bottom:2rem;}
    #section_3 .extraction_list ul li img {height: 5rem;}
    #section_3 .extraction_list ul li .txt_box .sub_tit {font-size:1.6rem;}
    #section_3 .extraction_list ul li .txt_box .sub_txt {line-height: 1.2;}
    

    /* section_04 */
    #section_4.section {height: 100%;}
    #section_4 .coffee_item {flex-basis:20rem;}
    #section_4 .coffee_item .img_box > .coffee_target {height:8rem; right: 0;}
    #section_4 .coffee_item .img_box > .coffee_target::before {width:78%; height: 20rem; right:0; bottom:-55%; transform: rotate(45deg) translate(32%,0);}

    /* section_05 */

    /* footer */

    /* sub_header */
    .sub_header .coffee_name {padding-top:3rem; padding-bottom:4rem;}

    /* sub_section */
    .sub_section .cont_1 .coffee_info ul li {padding:1.5rem;}
    .sub_section .cont_1 .coffee_info ul li .sub_tit {font-size:1.8rem;}
    .sub_section .cont_1 .coffee_info ul li div:not(.sub_tit) {font-size:1.5rem;}
}