@media screen and (max-width:1240px) {
    /* common */
    .con {padding-top:5rem;}
    .section .section_tit img {width:auto; height:3rem;}

    /* header */
    .top_menu {height:4rem;}

    /* section_02 */
    #section_2 .cont_1 {margin-top:3rem;}
    #section_2 .cont_2 ul li {font-size: 1.6rem;}
    #section_2 .cont_3 ul li {font-size: 1.4rem;}

    /* section_03 */
    #section_3 .extraction_list {margin-top:3rem;}
    #section_3 .extraction_list ul li .img_box {max-height:6rem; margin-top:1rem;}
    #section_3 .extraction_list ul li img {height: 6rem;}
    #section_3 .extraction_list ul li .txt_box .sub_tit {margin-top:1rem; font-size:1.9rem;}
    #section_3 .extraction_list ul li .txt_box .sub_txt {height:4rem;}

    /* section_04 */
    #section_4 .cont_1 {margin-top:4rem;}

    /* section_05 */

    /* footer */
    #reserve_footer .con .footer_menu_1 {max-width: 90%; margin:0 auto;}
    #reserve_footer .con .footer_menu_1 ul li {font-size:1.4rem;}
    #reserve_footer .con .footer_menu_2 ul li {font-size:1.5rem;}
    #reserve_footer .con .address {margin-top:4rem;}

    /* sub_header */
    .sub_header .menu_nav ul {max-width: 90%; margin:0 auto;}

    /* sub_section */
    .sub_section .cont_1 {max-width: 90%; margin:0 auto;}
    .sub_section .cont_1 .img_box {flex-basis: 50%;}
    .sub_section .cont_2 {padding-bottom:2rem;}
    .sub_section .cont_2 .txt_box {max-width: 90%; margin:0 auto;}
    .sub_section .cont_2 .txt_box ul li {font-size:1.7rem; word-break: keep-all;}
}