@media screen and (max-width:280px) {
    /* common */

    /* header */


    /* section_01 */
    #section_1 .cont_1 .main_logo {max-width:60%; margin-top:30%;}

    /* section_02 */


    /* section_03 */
    #section_3 .extraction_list ul li .txt_box .sub_tit {font-size:1.6rem;}
    #section_3 .extraction_list ul li .txt_box .sub_txt {font-size:1.1rem;}

    /* section_04 */


    /* section_05 */

    
    /* footer */
    #reserve_footer .con .address div {margin-top:0.3rem;}

    /* sub_section */
    .sub_section .cont_2 .extra_select ul li .txt_box .sub_tit {font-size:1.6rem;}
    .sub_section .cont_1 .coffee_info .coffee_origin span {font-size:1.7rem;}
    .sub_section .cont_2 .extra_select ul li .txt_box .sub_txt {height:4rem; font-size:1.1rem; line-height: 1.2;}
}