@media screen and (max-width:420px) {
    /* common */
    #root {overflow-x: hidden;}
    .section .section_tit img {height:1.7rem;}

    /* header */


    /* section_01 */
    #section_1 .cont_1 .main_logo {max-width: 75%;}
    #section_1 .cont_1 .sub_txt {font-size:3rem; word-break: keep-all; text-align: center;}
    #section_1 .cont_1 .sub_tit {font-size:3.7rem; font-weight: 700; word-break: keep-all; text-align: center;}

    /* section_02 */
    #section_2 .cont_1 .sub_tit {word-break: keep-all; text-align: center;}
    #section_2 .cont_3 ul li {word-break: keep-all;}

    /* section_03 */
    #section_3::after {height: 20rem;}
    #section_3 .extraction_list ul {flex-wrap:wrap; justify-content: flex-start;}
    #section_3 .extraction_list ul li:not(.extra_popup) {flex-basis:100%; max-width: 100%; margin-top:2rem;}
    #section_3 .extraction_list ul li:not(.extra_popup)::after {display: none;}
    #section_3 .extraction_list ul li:not(.extra_popup):nth-child(2n + 2) {top:0;}
    #section_3 .extraction_list ul li:not(.extra_popup) > .border_b {padding:0.5rem 1rem;}
    #section_3 .extraction_list ul li:not(.extra_popup) .img_box {flex-basis:30%; text-align: center;}
    #section_3 .extraction_list ul li:not(.extra_popup) .txt_box {flex-basis:60%;}
    #section_3 .extraction_list ul li:not(.extra_popup) > div {width: 100%; padding:0.5rem;}
    #section_3 .extraction_list ul li:not(.extra_popup) > div > div {flex-wrap: nowrap;}
    

    /* section_04 */
    

    /* section_05 */

        /* map_popup */
    .store_popup {flex-wrap:wrap; max-width: 20rem; min-width: 20rem;}
    .store_popup .left_item, .store_popup .right_item {flex-basis:100%;}
    
    /* footer */
    #reserve_footer .con .footer_menu_1 {max-width: 90%; margin:0 auto;}
    #reserve_footer .con .footer_menu_1 ul {justify-content: flex-start;}
    #reserve_footer .con .footer_menu_1 ul li {flex-basis:auto; height:2.8rem; margin:0 0.5rem; padding: 0 0.5rem; font-size:1.3rem;}
    #reserve_footer .con .footer_menu_2 {margin-top:1rem;}
    #reserve_footer .con .footer_menu_2 ul {align-items:center; flex-direction: column;}
    #reserve_footer .con .footer_menu_2 ul li {width:80%; height:2.8rem; margin-top:1rem; font-size:1.3rem;}
    #reserve_footer .con .address {flex-direction: column; max-width:90%; margin:1rem auto 1rem auto;}
    #reserve_footer .con .address div {margin-top:0.8rem; font-size:1.2rem;}
    #reserve_footer .con .copyright {font-size:1rem;}

    /* extration_popup */
    .extra_popup .popup_header .popup_e_name {margin-bottom: 1.5rem;}
    .extra_popup .popup_body .extra_txt {font-size:1.6rem;}
    .extra_popup .popup_body .img_box {height: 18rem;}
    .extra_popup .popup_body .img_box img {max-width: none; width: 150%; transform: translateX(-30%);}
}

@media screen and (max-width:896px) and (height:414px) {
    /* common */

    /* header */

    /* section_01 */
    #section_1 .cont_1 .main_logo {max-width: 12rem; height:auto; margin-top:5%; margin-bottom:3rem;}
    #section_1 .cont_1 .sub_txt {font-size:2.1rem;}
    #section_1 .cont_1 .sub_tit {font-size:3.3rem;}

    /* section_02 */
    #section_2::after {height:10rem; opacity: 0.2;}
    #section_2 .cont_1 .sub_txt {font-size:1.8rem;}
    #section_2 .cont_1 .sub_tit {font-size:2.8rem; margin-bottom:1.5rem;}
    #section_2 .cont_2 ul li {font-size:1.4rem; margin-bottom:1rem;}
    #section_2 .cont_3 ul li {font-size:1.2rem; margin-bottom:0.5rem;}

    /* section_03 */
    #section_3::after {height:10rem; opacity: 0.2;}
    #section_3 .extraction_list ul li:not(.extra_popup) {flex-basis:calc(100%/5); max-width: 15rem; padding:0.8rem;}
    #section_3 .extraction_list ul li:not(.extra_popup)::after {width: 80%; left:10%;}
    #section_3 .extraction_list ul li:not(.extra_popup) > div {padding:0.5rem; padding-bottom: 2rem;}
    #section_3 .extraction_list ul > li:not(div):nth-child(2n + 2) {top:6rem;}
    #section_3 .extraction_list ul li:not(.extra_popup) img {height: 4rem;}

    /* section_05 */
    #map {height:24rem !important;}

    /* footer */
    #reserve_footer .con .footer_menu_1 {max-width: 95%;}
    #reserve_footer .con .footer_menu_1 ul li {font-size:1.1rem;}
}