@media screen and (max-width:768px) {
        /* common */
        .con {max-width: 90%;}
        .section .section_tit img {height: 2.5rem;}

        /* header */
        .top_menu {height: 3.5rem;}
        .top_menu ul {max-width: 90%;}

        /* section_01 */
        #section_1 .cont_1 .main_logo {max-width: 15rem; height: auto; margin-bottom:5rem;}
        #section_1 .cont_1 .sub_txt {font-size:2.1rem; margin-bottom:1.5rem;}
        #section_1 .cont_1 .sub_tit {font-size:3.3rem;}
    
        /* section_02 */
        #section_2::after {height: 25rem; opacity: 0.1;}
        #section_2 .cont_1 {margin-top: 1.5rem;}
        #section_2 .cont_1 .sub_txt {font-size:1.7rem; line-height:1.8rem; margin-bottom: 1rem;} 
        #section_2 .cont_1 .sub_tit {font-size:2.3rem; margin-bottom:3rem;}
        #section_2 .cont_2 ul li {margin-bottom:1rem; font-size:1.55rem; word-break: keep-all;}
        #section_2 .cont_3 ul li {margin-bottom:0.8rem; justify-content: flex-start;}
    
        /* section_03 */
        #section_3::after {height: 25rem; opacity: 0.1;}
        #section_3 .extraction_list ul {flex-wrap:wrap;}
        #section_3 .extraction_list ul li:not(.extra_popup) {max-width:100%; flex-basis: 100%; margin:0.5rem;}
        #section_3 .extraction_list ul li:not(.extra_popup)::after {display:none;}
        #section_3 .extraction_list ul li:not(.extra_popup):nth-child(2n + 2) {top:0rem;}
        #section_3 .extraction_list ul li:not(.extra_popup) > .border_b {flex-basis:100%; padding:0.5rem 4rem;}
        #section_3 .extraction_list ul li:not(.extra_popup) > .border_b > div {justify-content: space-between;}
        #section_3 .extraction_list ul li:not(.extra_popup) .txt_box {flex-basis:100%;}
        #section_3 .extraction_list ul li:not(.extra_popup) .txt_box .sub_tit {font-size: 1.8rem; margin-bottom:0.5rem;}
        #section_3 .extraction_list ul li:not(.extra_popup) .txt_box .sub_txt {font-size: 1.2rem;}
        
        /* section_04 */
        #section_4 {min-width:100%; overflow: hidden;}
        #section_4 .cont_1 > ul {justify-content: flex-start;}
        #section_4 .cont_1 > ul > li:nth-child(2n+2) {margin-left:3%;}
        #section_4 .coffee_item {flex-basis:45%; height: auto; text-align: center;}
        #section_4 .cont_1 ul li {margin-bottom:6rem;}
        #section_4 .coffee_item .img_box > img {width: 80%;}

        /* section_05 */

        /* footer */
        #reserve_footer .con {padding-top:2rem;}
        #reserve_footer .con .footer_menu_1 ul {flex-wrap: wrap;}
        #reserve_footer .con .footer_menu_1 ul li {display: flex; justify-content: center; flex-basis:calc(100%/3); height: 3rem;}

        /* sub_section */
        .sub_section .cont_2 .extra_select ul li .txt_box .sub_tit {font-size:1.8rem;}

        /* extration_popup */
        #section_3 .extraction_list ul li.extra_popup {width: 100%; height:100%; top:0%; left:0%;}
        .extra_popup .popup_body .img_box {height: 20rem;}
        .extra_popup .popup_body .img_box img {max-width: 100%;}
}
/* Galaxt tab S4 */
@media screen and (max-width:712px) and (height:1138px) {
        /* common */
        .section .section_tit img {height: 3rem;}

        /* section_01 */
        #section_1 .cont_1 .main_logo {max-width: 30rem; margin-top:20%;}

        /* section_03 */
        #section_3 .extraction_list ul li:not(.extra_popup) {margin-bottom:2rem;}
        #section_3 .extraction_list ul li:not(.extra_popup) .img_box {max-height: 9rem;}
        #section_3 .extraction_list ul li:not(.extra_popup) img {height: 9rem;}
        #section_3 .extraction_list ul li:not(.extra_popup) .txt_box {flex-basis:80%;}
        #section_3 .extraction_list ul li:not(.extra_popup) .txt_box .sub_tit {margin-top:0; font-size:2.5rem;}
        #section_3 .extraction_list ul li:not(.extra_popup) .txt_box .sub_txt {font-size:1.7rem;}
        #section_3 .extraction_list ul li:not(.extra_popup) > .border_b {padding:1rem 2rem;}
        #section_3 .extraction_list ul li:not(.extra_popup) > .border_b > div {flex-wrap:nowrap;}
        
        /* #section_3 .extraction_list ul {flex-wrap:nowrap;}
        #section_3 .extraction_list ul li:not(.extra_popup) {max-width: 20%; flex-basis: calc(100%/5);}
        #section_3 .extraction_list ul li:not(.extra_popup) > .border_b {padding:0.5rem;} */
}

/* iPad Mini */
@media screen and (max-width:768px) and (height:1024px) {
        /* section_01 */
        #section_1 .cont_1 .main_logo {max-width: 30rem; margin-top:20%;}
        #section_1 .cont_1 .sub_txt {font-size:2.4rem;}
        #section_1 .cont_1 .sub_tit {font-size:3.8rem;}

        /* section_02 */
        #section_2::after {height:28rem;}
        #section_2 .cont_1 {margin-top:2rem;}
        #section_2 .cont_1 .sub_txt {margin-bottom:1.5rem; font-size:2rem;}
        #section_2 .cont_1 .sub_tit {font-size:3rem;}
        #section_2 .cont_2 ul li {justify-content: flex-start; font-size:1.75rem; line-height: 1.8;}
        #section_2 .cont_3 ul li {font-size:1.75rem; line-height: 1.8;}

        /* section_03 */
        #section_3::after {height:28rem;}
        #section_3 .extraction_list ul li::after {top:calc(58% - 1.4rem);}
        #section_3 .extraction_list ul li:nth-child(2n + 2) {top:25rem;}
        #section_3 .extraction_list ul li .img_box {max-height: 8rem; margin-bottom:3rem;}
        #section_3 .extraction_list ul li img {height: 8rem;}

        /* section_04 */
        #section_4 .coffee_item {flex-basis:40%; margin:2rem;}
}

/* Galaxy Fold */
@media screen and (max-width:717px) and (height:512px) {
        /* common */

        /* section_03 */
        #section_3 {height:100vh;}
        #section_3 .extraction_list ul {flex-wrap: wrap;}
        #section_3 .extraction_list ul li:not(.extra_popup) {flex-basis:45%; max-width: 45%;}
        #section_3 .extraction_list ul li:not(.extra_popup) > .border_b > div {flex-wrap: nowrap;}
        #section_3 .extraction_list ul li:not(.extra_popup) .txt_box {flex-basis:100%;}

        /* section_05 */
        #map {height: 35rem !important;}

}