@media screen and (max-width:786px) {
        /* common */
        .con {max-width: 90%;}
        .section .section_tit img {height: 2.5rem;}

        /* header */
        .top_menu {height: 3.5rem;}
        .top_menu ul {max-width: 90%;}

        /* section_01 */
        #section_1 .cont_1 .main_logo {max-width: 15rem; height: auto; margin-bottom:5rem;}
        #section_1 .cont_1 .sub_txt {font-size:2.1rem; margin-bottom:1.5rem;}
        #section_1 .cont_1 .sub_tit {font-size:3.3rem;}
    
        /* section_02 */
        #section_2::after {height: 25rem; opacity: 0.1;}
        #section_2 .cont_1 {margin-top: 1.5rem;}
        #section_2 .cont_1 .sub_txt {font-size:1.7rem; line-height:1.8rem; margin-bottom: 1rem;} 
        #section_2 .cont_1 .sub_tit {font-size:2.3rem; margin-bottom:3rem;}
        #section_2 .cont_2 ul li {margin-bottom:1rem; font-size:1.55rem; word-break: keep-all;}
        #section_2 .cont_3 ul li {margin-bottom:0.8rem; justify-content: flex-start;}
    
        /* section_03 */
        #section_3::after {height: 25rem; opacity: 0.1;}
        #section_3 .extraction_list ul li {max-width:20%; flex-basis: calc(100%/5); margin:0.5rem;}
        #section_3 .extraction_list ul li:nth-child(2n + 2) {top:20rem;}
        #section_3 .extraction_list ul li > div {padding:0.5rem 0.5rem 2rem 0.5rem;}
        #section_3 .extraction_list ul li .txt_box .sub_tit {font-size: 1.5rem; margin-bottom:0.5rem;}
        #section_3 .extraction_list ul li .txt_box .sub_txt {font-size: 1.2rem;}

        /* section_04 */
        #section_4 .cont_1 > ul {justify-content: center;}
        #section_4 .coffee_item {flex-basis:80%; height: auto; text-align: center;}
        #section_4 .coffee_item .img_box > img {width: 80%;}
    
        /* section_05 */
    

        /* footer */
}