@import './common.css';
@import './header.css';
@import './main.css';
@import './extractioncard.css';
@import './coffeelist.css';
@import './coffeeinfo.css';
@import './map.css';
@import './footer.css';

@import url('../Fonts/NotoSansCJKkr.css');

@import './Responsive/1024.css';
@import './Responsive/786.css';
@import './Responsive/550.css';
@import './Responsive/480.css';
* {font-family: 'NotoKr';}
:root {
  --default-color: #222222;
  --point-color: #976d3f;
  --default-text: #ffffff;
}

html {scroll-behavior: smooth;}
/* body {overflow-y: hidden;} */
.loading {width: 100vw; height: 100vh;}
#root {background: #222222;}
body::-webkit-scrollbar {width: 0.6rem;}
body::-webkit-scrollbar-thumb {height: 30%; background: #976d3f; border-radius: 0.5rem;}
body::-webkit-scrollbar-track {background:#222222;}

.deco_txt {position:relative; text-indent: 10px;}
.deco_txt::before {content:''; position: absolute; width:5px; height: 100%; top:0; left:0; background: var(--point-color);}