.sub_header {position: relative; width: 100%; height: 25rem;}
.sub_header::after {content:''; position: absolute; width: 100%; height: 100%; top:0; left:0; background: url('../Images/sub_header.gif') no-repeat; background-size: cover; opacity: 0.3; z-index: 1;}
.sub_header .cont {position: relative; height: 100%; z-index: 2;}
.sub_header .ko_name {font-size: 3.8rem; font-weight: 500; color:var(--default-text);}
.sub_header .en_name {font-size: 1.4rem; font-weight: 700; color:var(--point-color); letter-spacing: 1px;}

.coffee_product {background: var(--default-color); min-height: 100vh;}