.coffee_list {max-width: 120rem; margin:8rem auto 0 auto;}
.coffee_list ul li {flex-basis: calc(100%/4);}
.coffee_list ul li::before {content:''; position: absolute; width: 100%; height: 100%; top:0; left:0; background: rgba(0,0,0,0); transition: background 0.3s;}
.coffee_list ul li:hover::before {background: rgba(0,0,0,0.5);}
.coffee_list ul li .img_box {max-width: 28rem;}
.coffee_list ul li .img_box > img {width: 21.6rem;}
.coffee_list ul li .coffee_target {width: 10rem; height: 10rem; bottom: 0; right: 4rem;}
.coffee_list ul li .coffee_target .logo img {width: 2.7rem; height: 2.1rem;}
.coffee_list ul li .coffee_target .coffee_name {width:65%; bottom:0.1rem; right:0; font-size:1.1rem; font-weight:300; color:var(--point-color); line-height: 1.3; text-align: center; word-break: keep-all;}