.extra_card {max-width: 60%; margin:4rem auto 0 auto;}
.extra_card ul li {max-width:18rem; width:18rem; padding:3rem 0; border-radius:10px; border:2px solid var(--point-color); transition: box-shadow 0.3s;}
.extra_card ul li:hover {box-shadow: -0.1rem -0.1rem 0.5rem var(--point-color)}
.extra_card ul li .card_top .img_box img {height: 7rem;}
.extra_card ul li .card_top .card_tit {padding-top:1rem; font-size:2.2rem; font-weight:400; color:var(--point-color); letter-spacing: 1px;}
.extra_card ul li .card_top .card_tit::after {content:''; position:absolute; width: 90%; height: 0.5rem; top:40%; left:5%; background: var(--point-color);}
.extra_card ul li .card_bottom {margin-top:3rem;}
.extra_card ul li .card_bottom .sub_txt {font-size: 1.3rem; color:var(--defalut-text); text-align: center; white-space: pre;}
/* .extra_card ul li:nth-child(2n + 1) {} */
.extra_card ul li:nth-child(2n + 2) {top:14rem;}